/*
#192e42
#253b52
#335574
*/

#addressLabel {
    -fx-font-size: 20;
}

#disconnect_button {

}

#connect_button {

}

#address_field {}
#ports_field {}
#username_field {}

#console {
    -fx-background-color: #11131d;
    -fx-font-size: 16;
    -fx-padding: 0.3em;
}
#server_console {
    -fx-background-color: #11131d;
    -fx-font-size: 14;
    -fx-padding: 0.3em;
}

